html {
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	display: table;
}

body {
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	background-color: #000;
}

table {
	width: 80vw;
	table-layout: fixed;
	outline: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}



img {
	width: 100%;
}